<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<title>Cart Page</title>
	<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

</head>

<body>
	<h2>Cart Page</h2>
	<h1 id="h11"></h1>
	<script>
	th
		$("#h11").attr("books");
		console.log('$(document).attr("books")');
	</script>
	<!-- <div class="container">
		
		<a href="/products">Continue Shopping</a>
		<div class="row">
			<table class="table table-light table-hover" border="1">
				<tr class="table table-danger">
					<th>Id</th>
					<th>Name</th>
					<th>Photo</th>
					<th>Price</th>
					<th>Qty</th>
				</tr>
				<tr th:each="item : ${books}">
					<td th:text="${item.bookId }"></td>
					<td th:text="${item.bookName }"></td>
					<td th:text="${item.author }"></td>
					<td th:text="${item.isbn }"></td>
					<td th:text="${item.category }"></td>
				</tr>			

			</table>
		</div>
	</div> -->
</body>

</html>